@model List<RotisserieDraft.ViewModels.DraftListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul id="drafts">
    @foreach (var d in Model)
    {
        <li> @Html.ActionLink(d.Name, "Details", "Draft", new { id = d.Id }, new { }) (Created by @d.CreatorName)</li>
    }
</ul>



