@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>Multiplayer Online Draft tracker</p>
<p>Contributors: <a href="mailto:m.kjellberg@gmail.com">Snidd</a>, <a href="mailto:mats.tornros@gmail.com">MatsT</a></p>
