@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!</h2>
<p>You need to @Html.ActionLink("register", "Register", "Account") a user to use most of the functions.</p>
<p>@Html.ActionLink("View drafts", "Index", "Draft")</p>
<p>@Html.ActionLink("Create a draft", "Create", "Draft")</p>
